<%inherit file="base.html"/>

<%block name="content">
    Presence mean time by weekday
</%block>

<%block name="script_area">
    <script type="text/javascript">
        function parseInterval(value) {
            var result = new Date(1,1,1);
            result.setMilliseconds(value*1000);
            return result;
        };

        get_users(
            "${ url_for('api_users_v2_view') }",
            function (loading, chart_div, selected_user) {
                var url = "${ url_for('api_mean_time_weekday', user_id=1)[:-2] }/" + selected_user,
                    result = [];
                $.getJSON(url, function(result) {
                    $.each(result, function(index, value) {
                        value[1] = parseInterval(value[1]);
                    });
                    var options = {
                        hAxis: {title: 'Weekday'}
                    },
                        chart = new google.visualization.ColumnChart(chart_div[0]),
                        formatter = new google.visualization.DateFormat({pattern: 'HH:mm:ss'}),
                        data = new google.visualization.DataTable();

                    data.addColumn('string', 'Weekday');
                    data.addColumn('datetime', 'Mean time (h:m:s)');
                    data.addRows(result);
                    formatter.format(data, 1);

                    chart_div.show();
                    loading.hide();
                    chart.draw(data, options);
                }).error(function() {
                    loading.hide();
                    $('#error-text').show();
                });
            }
         );
    </script>
</%block>
