<%inherit file="base.html"/>

<%block name="content">
    Mean start-end
</%block>

<%block name="script_area">
    <script type="text/javascript">
        get_users(
            "${ url_for('api_users_v2_view') }",
            function (loading, chart_div, selected_user) {
                var url = "${ url_for('api_mean_start_end', user_id=1)[:-2] }/" + selected_user;
                $.getJSON(url, function(entry) {
                    var result = [
                        [
                            'All time',
                            new Date(1, 1, 1, entry[0][0], entry[0][1], entry[0][2]),
                            new Date(1, 1, 1, entry[1][0], entry[1][1], entry[1][2])
                        ]
                    ],
                        formatter = new google.visualization.DateFormat({pattern: 'HH:mm:ss'}),
                        options = {
                            hAxis: {title: 'Weekday'}
                        },
                        chart = new google.visualization.Timeline(chart_div[0]),
                        data = new google.visualization.DataTable();

                    chart_div.show();
                    loading.hide();
                    data.addColumn('string', 'Weekday');
                    data.addColumn({ type: 'datetime', id: 'Start' });
                    data.addColumn({ type: 'datetime', id: 'End' });
                    data.addRows(result);
                    formatter.format(data, 1);
                    formatter.format(data, 2);

                    chart.draw(data, options);
                }).error(function() {
                    loading.hide();
                    $('#error-text').show();
                });
            }
        )
    </script>
</%block>
