<%inherit file="base.html"/>

<%block name="script_area">
    <script type="text/javascript">
        get_users(
            "${ url_for('api_users_v2_view') }",
            function (loading, chart_div, selected_user) {
                var url = "${ url_for('api_presence_weekday', user_id=1)[:-2] }/" + selected_user,
                    result = [];
                $.getJSON(url, function(result) {
                    var data = google.visualization.arrayToDataTable(result),
                        options = {},
                        chart = new google.visualization.PieChart(chart_div[0]);

                    chart_div.show();
                    loading.hide();
                    chart.draw(data, options);
                }).error(function() {
                    loading.hide();
                    $('#error-text').show();
                });
            }
        )
    </script>
</%block>

<%block name="content">
    Presence by weekday
</%block>
