<%inherit file="base.html"/>

<%block name="script_area">
    <script type="text/javascript">
        get_users(
            "${ url_for('api_users_view') }",
            function (loading, chart_div, selected_user) {
                var result = [],
                    url = "${ url_for('api_presence_weekday', user_id=1)[:-2] }/" + selected_user;
                $.getJSON(url, function(result) {
                    var data = google.visualization.arrayToDataTable(result),
                        options = {};

                    chart_div.show();
                    loading.hide();
                    var chart = new google.visualization.PieChart(chart_div[0]);
                    chart.draw(data, options);
                });
            }
        )
    </script>
</%block>

<%block name="content">
    Presence by weekday
</%block>
